$viewport-inner-color: rgba(241, 241, 241, 1);
$viewport-transit-color: rgba(205, 205, 205, 1);
$viewport-outer-color: rgba(161, 161, 161, 1);
$toolbar-background-color: rgba(245, 245, 245, 0.25);

.viewport {
  height: 100%;
  background: radial-gradient(
    circle,
    $viewport-inner-color 5%,
    $viewport-transit-color 45%,
    $viewport-outer-color 100%
  );
}

.viewport--loading {
  filter: blur(25px);
}

.toolbar {
  position: fixed;
  bottom: 0;
  background: $toolbar-background-color;
}

.toolbar__filler {
  flex-grow: 1;
}

.toolbar__center {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
}

.view-source-link {
  display: inline-flex;
}
