<div #viewport class="viewport"></div>

<mat-toolbar class="toolbar">

  <div class="toolbar__center">
    <button
      mat-icon-button
      aria-label="Focus Previous"
      title="Previous"
      (click)="previous()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <button
      mat-icon-button
      aria-label="Focus Next"
      title="Next"
      (click)="next()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="toolbar__filler"></div>

  <button
    *ngIf="!isFullScreen"
    mat-icon-button
    aria-label="Enter Fullscreen"
    title="Enter Fullscreen"
    (click)="enterFullScreen()"
  >
    <mat-icon>fullscreen</mat-icon>
  </button>

  <button
    *ngIf="isFullScreen"
    mat-icon-button
    aria-label="Exit Fullscreen"
    title="Exit Fullscreen"
    (click)="exitFullScreen()"
  >
    <mat-icon>fullscreen_exit</mat-icon>
  </button>

</mat-toolbar>
